.row
  .col-lg-12
    = form_tag prepare_upgrade_path, method: "post" do
      .panel.panel-default
        .panel-heading
          %h2
            = t("installer.upgrades.header", product: branding_config.page_title)

        .panel-plain.wizard
          = render partial: "nav", locals: { active: :prepare }

          .wizard-body.col-lg-9
            %h2
              = t(".header")

            %p
              = t(".description")

        .panel-footer
          .row
            .col-lg-3
              = progress_steps 1, 1, 10

            .col-lg-9.text-right
              .btn-group{ role: "group" }
                = button_tag icon_tag("chevron-right", t(".continue")),
                  class: "btn btn-primary"

