- if @snapshot
  %p{:style => 'float:right'}
    = link_to t('.snapshot'), snapshot_path(@snapshot.id), :class => 'button'
%h1
  = link_to @snapshot.name, snapshot_path(@snapshot.id) if @snapshot
  = t '.title'

%table.data.box
  %thead
    %tr
      %th= t '.snapshot'
      %th= t '.node'
      %th= t '.role'
      %th
      %th= t '.state'
      %th= t '.status'
  %tbody
    -@list.each do |nr|
      %tr
        %td= link_to nr.snapshot.name, snapshot_path(:id=>nr.snapshot.id) rescue t 'unknown'
        %td= link_to nr.node.name, node_path(:id=>nr.node.id) rescue t 'unknown'
        %td= link_to nr.role.name, role_path(:id=>nr.role.id) rescue t 'unknown'
        %td
          .led{:class => NodeRole::STATES[nr.state], :title=>nr.state_name}
        %td= link_to nr.state_name, node_role_path(nr.id)
        %td= nr.status
