%h1= t '.title'

%ul
  - @list.each do |i|
    %li
      = link_to "#{i.name}: #{i.description}", snapshot_path(:id=>i.id) 
      %ul
        %li= "deployment: #{i.deployment.name}"
        - i.node_roles do |nr|
          %li= "node_role: #{nr.name}"