- state = @snapshot.state
%p{:style => 'float:right'}
  - if @snapshot.committed?
    = link_to t('.anneal'), snapshot_anneal_path(@snapshot.id, :step=>Rails.env.development?), :class => 'button'
  = render :partial => 'deployments/buttons', :locals => { :state=>state, :snapshot=>@snapshot } 

%h1
  = @snapshot.name
  - case state
    - when NodeRole::TODO 
      = t '.committed'
    - when NodeRole::PROPOSED
      = t '.proposed'
    - when NodeRole::ACTIVE
      = t '.active'
    - when NodeRole::ERROR
      = t 'error'

%table.data.box
  %thead
    %tr
      %th= t '.nodes'
      - @roles.each do |rid, role|
        %th= link_to role.name, role_path(rid)
  %tbody
    - @nodes.each do |nid, node|
      %tr
        %td= link_to node.name, node_path(nid)
        -@roles.each do |rid, role|
          %td
            - nr = @node_roles[nid][rid] rescue nil
            - unless nr.nil?
              .led{:class => NodeRole::STATES[nr.state || NodeRole::ERROR], :title=>nr.state_name}
                = link_to "[__]", node_role_path(nr.id)
