- state = @snapshot.state
%table{:width=>'100%'}
  %tr
    %td 
      .led{:class => NodeRole::STATES[state || NodeRole::ERROR], :title=>NodeRole.state_name(state)}
    %td
      %h1
        = link_to @snapshot.deployment.name, deployment_path(@snapshot.deployment.id)
        = "#{@snapshot.name} #{NodeRole.state_name(state)}"
    %td{:align => 'right'}
      = link_to t('.graph'), snapshot_graph_path(@snapshot.id), :class => 'button', :method=>:get
      = render :partial => 'deployments/buttons', :locals => { :state=>state, :snapshot=>@snapshot } 

%table.data.box
  %thead
    %tr
      %th= t '.nodes'
      - @roles.each do |rid, role|
        %th= link_to role.name, role_path(rid)
  %tbody
    - @nodes.each do |nid, node|
      %tr
        %td= link_to node.name, node_path(nid)
        -@roles.each do |rid, role|
          %td
            - nr = @node_roles[nid][rid] rescue nil
            - unless nr.nil?
              .led{:class => NodeRole::STATES[nr.state || NodeRole::ERROR], :title=>nr.state_name}
                = link_to "&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;".html_safe, node_role_path(nr.id)

.clear

:javascript

  function update() {
    $.ajaxSetup({ timeout: 1000 });
    location.reload();
  }