%table.table.table-hover.barclamp-list
  %thead
    %tr
      %th
        = t(".status")
      %th
        = t(".barclamp")
      %th
        = t(".description")
      %th

  - if @service_object.simple_proposal_ui?
    = render partial: "barclamp/general/index_simple"
  - else
    = render partial: "barclamp/general/index_complex"
