!!!
%html
  %head
    %title= "Crowbar: #{ controller.action_name }"
    = csrf_meta_tags
    = stylesheet_link_tag 'application'
    /[if IE]
      = stylesheet_link_tag 'ie', :media => "all"
    = javascript_include_tag 'application'
    = csrf_meta_tag
  
  %body
    %header
      - if current_user != nil
        %div{:style=>'float:right; padding-right: 5px; padding-top:3px'}
          =t 'user.singed_in_as'
          =current_user.username
          %span .
          =link_to( "Sign out.", destroy_user_session_path, :method=>'delete', :style=>'padding-left:10px' )
      .container
        %h1
          %a{:href => "/"}
            %span logo
        -if current_user != nil
        %nav
          = render_navigation :expand_all => true, :skip_if_empty => true
    
    - if flash[:notice] || !CHEF_ONLINE
      .notice#flash
        .container
          %p
            = flash[:notice]
            = link_to " [#{t('clear_msg')}]", "#", :onClick=>"$('#flash').attr('style', 'display:none');"
          - if !CHEF_ONLINE
            %p= t "offline"

    #main_body.container
      = yield

    %footer
      =t '.provided_by'
      %a{:href=>"http://dell.com/cloud", :target=>"_new"}
        %img{:src=>"/images/layout/dell.png", :alt=>"Dell, Inc.", :title=>"Dell, Inc.", :style=>"vertical-align:middle;padding-bottom:2px"}
      %a{:href=>"http://dell.com/crowbar", :target=>"_new", :alt=>"Dell, Inc."}
        CloudEdge Solutions team
      ="- Version #{CROWBAR_VERSION}"
