!!!
%html{ lang: I18n.locale, data: { ng_app: "crowbar" } }
  %head
    %title
      = meta_title

    = meta_tags
    = csrf_meta_tags

    - registered_stylesheets.each do |stylesheet|
      = stylesheet_link_tag stylesheet

    = yield :stylesheets

    - registered_javascripts.each do |javascript|
      = javascript_include_tag javascript

    = yield :javascripts

    /[if lt IE 9]
      = stylesheet_link_tag "ie"
      = javascript_include_tag "ie"

  %body{ class: params[:controller], data: { ng_controller: "ApplicationCtrl" } }
    = render partial: "shared/header"

    .container#content
      = render partial: "shared/flashes"

      = yield
      = render partial: "shared/footer"
