!!!
%html
  %head
    %link{:href => "/images/favicon.gif", :rel => "shortcut icon"}
    %title= "Crowbar: #{ controller.action_name }"
    = stylesheet_link_tag 'application'
    /[if IE]
      = stylesheet_link_tag 'ie', :media => "all"
      = javascript_include_tag "html5"
    -# ALWAYS DIFFERENT FROM RAILS3
    = javascript_include_tag 'jquery.min', 'jquery-ui.min', 'jquery.sparkline.min', 'rails', 'codemirror/codemirror', 'codemirror/javascript', 'jquery.spritely-0.6.1', 'application', 'event_helpers', 'drag_drop_helpers', 'jquery.dataTables', 'nodes'
    = csrf_meta_tag
  
  %body
    %header.navbar.navbar-static-top.navbar-inverse
      .navbar-inner
        .container
          .row-fluid
            .span4
              %a.brand{:href => "/"}
                %span{:style => "font-weight: bold"}
                  SUSE Cloud
                %span
                  Crowbar
            .span8
              %nav.mainMenu
                = render_navigation :expand_all => true, :skip_if_empty => true
          
  - if flash[:notice] || !CHEF_ONLINE
    .notice#flash
      .container
        .alert
          = flash[:notice].gsub("\n", "<br/>")
          = link_to " [#{t('clear_msg')}]", "#", :onClick=>"$('#flash').attr('style', 'display:none');"
        - if !CHEF_ONLINE
          %p= t "offline"

  #main.container
    = yield

  %footer
    = link_to 'SUSE Cloud v2.0', 'https://www.suse.com/products/suse-cloud/', :target => '_new'
    &nbsp
    = t '.provided_by'
    = link_to 'SUSE', 'https://www.suse.com', :target => '_new'
