%thead
  %tr
    %th{:style => "width:15%"}= t('.barclamp')
    %th.status{:style => "width:10%"}= t('.status')
    %th{:style => "width:75%"}= t('.description')

%tbody
  - @barclamps.each do |barclamp|
    - name = barclamp.name.parameterize
    %tr{:id=>name, :class => ["barclamp", cycle(:odd, :even, :name => "barclamps")]}
      %td
        %a.toggle.with_label{:href => "#", :id => "#{name}_details_toggle", :rel => "#{name}_details"}= name.titlecase
      %td
        - if barclamp.deployments.nil? 
          .led{:id => "#{name}_none", :class => 'none', :style => "float:left", :title=>t('proposal.status.none')}
        - else
          - barclamp.deployments.each do |deployments|
            .led{:id => deployments.id, :class =>'unknown', :style => "float:left", :title=>"#{deployments.name} - #{t(deployments.status, :scope=>'barclamp.status')}"}
      %td= barclamp.description

    %tr{:class => current_cycle("barclamps"), :style => "display:#{params[:id]==name ? 'float' : 'none'}", :id => "#{name}_details"}
      %td.container{:colspan => "3"}
        .box
          %table.data
            %tbody
              - if barclamp.deployments.count>0 
                - barclamp.deployments.each do |deployment|
                  = render :partial => "deployments/show", :locals=> { :deployment => deployment }
              - if barclamp.allow_multiple_deployments or barclamp.deployments.count==0
                = render :partial => "deployments/new", :locals=> { :barclamp => barclamp }