%thead
  %tr
    %th{:style => "width:15%"}= t('.barclamp')
    %th.status{:style => "width:5%"}= t('.status')
    %th{:style => "width:75%"}= t('.description')
    %th{:style => "width:5%"}

- if true
  = render :partial => 'barclamp/show_simplified_index'
- else
  = render :partial => 'barclamp/show_index'
