%thead
  %tr
    %th{:style => "width:15%"}= t('.barclamp')
    %th.status{:style => "width:5%"}= t('.status')
    %th{:style => "width:75%"}= t('.description')
    %th{:style => "width:5%"}

- if @service_object.edit_proposal_name?
  = render :partial => 'barclamp/show_index'

- if not @service_object.edit_proposal_name?
  = render :partial => 'barclamp/show_simplified_index'
