%thead
  %tr
    %th{:style => "width:15%"}= t('.barclamp')
    %th.status{:style => "width:10%"}= t('.status')
    %th{:style => "width:75%"}= t('.description')

%tbody
  - @modules.each do |barclamp|
    - name = barclamp.name.parameterize
    %tr{:id=>name, :class => ["barclamp", cycle(:odd, :even, :name => "barclamps")]}
      %td
        %a.toggle.with_label{:href => "#", :id => "#{name}_details_toggle", :rel => "#{name}_details"}= name.titlecase
      %td
        - if barclamp.proposals.nil? 
          .led{:id => "#{name}_none", :class => 'none', :style => "float:left", :title=>t('proposal.status.none')}
        - else
          - barclamp.proposals.each do |proposal|
            - proposal_name = proposal.name
            .led{:id => "#{name}_#{proposal_name}", :class =>'unknown', :style => "float:left", :title=>"#{proposal_name.titlecase} - #{t 'proposal.status.unknown'}"}
      %td= barclamp.description

    %tr{:class => current_cycle("barclamps"), :style => "display:#{params[:id]==name ? 'float' : 'none'}", :id => "#{name}_details"}
      %td.container{:colspan => "3"}
        .box
          -#= render :partial => 'barclamp/proposal', :locals=>{ :barclamp=>barclamp }
