%thead
  %tr
    %th= t('.barclamp')
    %th.status= t('.status')
    %th= t('.description')
    - if @service_object.simple_proposal_ui?
      %th

- if @service_object.simple_proposal_ui?
  = render :partial => 'barclamp/show_simplified_index'
- else
  = render :partial => 'barclamp/show_index'
