- if bad_explorer?
  = render :partial => "barclamp/edit_deployment_raw"

  .panel-body
    .alert.alert-danger
      %p
        = t(".msie_fail")

- else
  %input#proposal_development{ :type => "hidden", :name => "proposal_deployment", :value => @proposal.raw_deployment.to_json }

  .panel-sub
    %h3
      = t("barclamp.deployment")

      .pull-right
        %small
          = proposal_raw_button @proposal, :dep_raw => true, :attr_raw => @attr_raw

  .panel-body
    .alert.alert-info
      %p
        = t(".hint")

    .row#nodelist{ "data-constraints" => local_assigns[:constraints].to_json }
      .col-xs-6.dragzone
        %h4
          = link_to t("barclamp.proposal_show.available_nodes"), dashboard_path, :title => t(".filter")

        .form-group
          %input.form-control.input-sm{ :type => "search", :placeholder => "Search", "data-listsearch" => "#nodelist .dragzone ul" }

        .form-group
          %ul
            - nodes_hash.each do |n, detail|
              %li.form-control.input-sm.available{ "data-draggable" => "true", "data-id" => n, "data-alias" => detail[:alias], "data-admin" => detail[:admin], :title => (detail[:title] || t("not_set")) }
                = detail[:alias]
                = link_to icon_tag("link"), nodes_path(:selected => detail[:handle]), :title => detail[:alias], :class => "pull-right"

      .col-xs-6.dropzone
        - @proposal.all_elements.each do |element|

          %h4{ "data-droppable" => "true", "data-id" => element }
            = chef_server_role_link element

          %ul{ "data-droppable" => "true", "data-id" => element }

%script#nodelist-item{ :type => "text/x-handlebars-template" }
  %li{ "data-draggable" => "false", "data-id" => "{{id}}", "data-alias" => "{{alias}}", "data-admin" => "{{admin}}", "data-role" => "{{role}}"  }
    {{alias}}
    = link_to icon_tag("trash"), "#", :title => "{{alias}}", :class => "pull-right delete"

%script#nodelist-warning{ :type => "text/x-handlebars-template" }
  .alert.alert-warning.alert-dismissable
    %button.close{ :type => "button", "data-dismiss" => "alert", "aria-hidden" => true }
      &times;

    {{message}}

%script#nodelist-alert{ :type => "text/x-handlebars-template" }
  .alert.alert-danger.alert-dismissable.disappear
    %button.close{ :type => "button", "data-dismiss" => "alert", "aria-hidden" => true }
      &times;

    {{message}}

%script#nodelist-success{ :type => "text/x-handlebars-template" }
  .alert.alert-success.alert-dismissable.disappear
    %button.close{ :type => "button", "data-dismiss" => "alert", "aria-hidden" => true }
      &times;

    {{message}}
