%tbody
  - @modules.each do |barclamp_name, barclamp|
    - if barclamp[:allow_multiple_proposals]
      %tr.barclamp{ :id => barclamp_name.parameterize }
        %td.col-xs-1.status
          - if barclamp[:proposals].length > 0
            - barclamp[:proposals].sort.each do |proposal_name, proposal|
              = display_led_for(proposal[:status], "#{barclamp_name.parameterize}_#{proposal_name.parameterize}")
          - else
            = display_led_for(:none, "#{barclamp_name.parameterize}_none")
        %td.col-xs-2
          = display_name_for(barclamp_name)
        %td.col-xs-8
          = barclamp[:description]
        %td.col-xs-1.actions
          = link_to t("proposal.actions.edit"), "#toggle", :class => (params[:id] == barclamp_name or barclamp[:expand]) ? "btn btn-default btn-block expanded" : "btn btn-default btn-block", "data-toggle-action" => barclamp_name
      %tr{ :class => (params[:id] == barclamp_name or barclamp[:expand]) ? "proposal visible" : "proposal hidden", "data-toggle-target" => barclamp_name }
        %td{ :colspan => "4" }
          %table.table.table-condensed
            %tbody
              - barclamp[:proposals].sort.each do |proposal_name, proposal|
                %tr
                  %td.col-xs-1.status
                    = display_led_for(proposal[:status], "#{barclamp_name.parameterize}_#{proposal_name.parameterize}")
                  %td.col-xs-2
                    = proposal_name.titlecase
                  %td.col-xs-8
                    - if proposal[:status] == "failed"
                      = t(".failed", :message => proposal[:message])
                    - else
                      = proposal[:description]
                  %td.col-xs-1.actions
                    = link_to t("proposal.actions.edit"), proposal_show_path(:controller => barclamp_name, :id => proposal_name), :class => "btn btn-default btn-block"
              - create_proposal_form_for(barclamp_name) do
                %tr
                  %td.col-xs-1.status
                    %span.glyphicon.glyphicon-plus
                  %td.col-xs-2
                    = text_field_tag :name, barclamp[:suggested_proposal_name], :class => "form-control input-sm"
                  %td.col-xs-8
                    = text_field_tag :description, t(".created_on", :date => l(Time.now)), :class => "form-control input-sm"
                  %td.col-xs-1.actions
                    = hidden_field_tag :barclamp, barclamp_name
                    %input.btn.btn-default.btn-block{ :type => "submit", :value => t("proposal.actions.create") }
    - else
      %tr.barclamp{ :id => barclamp_name.parameterize }
        %td.col-xs-1.status
          - if barclamp[:proposals].length > 0
            - barclamp[:proposals].sort.each do |proposal_name, proposal|
              = display_led_for(proposal[:status], "#{barclamp_name.parameterize}_#{proposal_name.parameterize}")
          - else
            = display_led_for(:none, "#{barclamp_name.parameterize}_none")
        %td.col-xs-2
          = display_name_for(barclamp_name)
        %td.col-xs-8
          = barclamp[:description]
        %td.col-xs-1.actions
          - if barclamp[:proposals].length == 0
            - create_proposal_form_for(barclamp_name) do
              = hidden_field_tag :barclamp, barclamp_name
              = hidden_field_tag :name, "default"
              = hidden_field_tag :description, t(".created_on", :date => l(Time.now))
              %input.btn.btn-default.btn-block{ :type => "submit", :value => t("proposal.actions.create") }
          - else
            = link_to t("proposal.actions.edit"), proposal_barclamp_path(:controller => barclamp_name, :id => barclamp[:proposals].first.first), :class => "btn btn-default btn-block"
