- nodes = nodes_hash()
- if @role.elements.length > 0
  %table.table
    %tr
      %td
        = t '.role' 
      %td
        = t '.nodes'
    - @role.elements.sort.each do |key, value|
      %tr{:class => cycle("odd", "even")}
        %td{:style => "white-space:nowrap; width: 20%;" }
          %em
            %b
            - if CONVERGED_ADMIN && HAVE_CHEF_WEBUI
              = link_to key, "http://#{request.host}:4040/roles/#{key}", :target => '_blank'
            - else
              = key
        - members = {}
        - nodes.each { |k,v| members[k] = v if value.member? k }
        %td
          - members.sort_by{ |k, v| v[:alias] }.each do |name, node|
            %div= link_to node[:alias], nodes_path(:selected => node[:handle]), :title=>node[:title]

  .clear
- else
  %p= t '.none'

