%table.table.table-hover.table-attributes
  %tbody
    - @role.default_attributes[@role.barclamp].sort.each do |key, value|
      %tr
        %th.col-xs-4
          %em
            = t(".#{key}", default: "#{key}:")
        %td
          - if value.is_a? Enumerable and not value.is_a? String
            = hash_to_ul(value)
          - else
            = value
