%tbody
  - catalog = ServiceObject.barclamp_catalog
  - @modules.each do |name, barclamp|
    - display_name = catalog['barclamps'][name]['display']
    - display_name = name.titlecase if display_name.nil? or display_name == ""
    %tr{:id=>name, :class => ["barclamp", cycle(:odd, :even, :name => "barclamps")]}
      - if not barclamp[:allow_multiple_proposals] or barclamp[:proposals].length == 0
        %td
          = display_name
        %td
          - if barclamp[:proposals].length == 0
            .led.div-center.none{:id => "#{name.parameterize}_none", :title => t('proposal.status.none')}
          - else
            - barclamp[:proposals].sort.each do |proposal_name, proposal|
              .led.div-center{:id => "#{name.parameterize}_#{proposal_name}", :class => proposal[:status], :title => "#{t 'proposal.status.'+proposal[:status]}"}
        %td= "#{barclamp[:description]}"
        %td.text-center
          - if barclamp[:proposals].length == 0
            - form_for :proposal, :remote => true, :url => create_proposal_barclamp_path(:controller => name), :html => { :'data-type' => 'html', :'data-method' => 'put', :method => :put, :id => 'create_proposal_form', :class => "formtastic"} do |f|
              = hidden_field_tag :barclamp, name
              -# Hard-coding "default" as name for unique proposals: it's the same name used for proposals during crowbar install process
              = hidden_field_tag :name, "default"
              = hidden_field_tag :description, "#{t 'created_on'} #{l(Time.now) }"
              %input.btn{:type => "submit", :value => t('proposal.actions.create')}
          - else
            - proposal_name, proposal = barclamp[:proposals].take(1)[0]
            = link_to t('proposal.actions.edit'), proposal_barclamp_path(:controller=>name, :id=>proposal_name)
      - else
        %td
          = display_name
        %td
          - if barclamp[:proposals].length == 0
            .led.div-center.none{:id => "#{name.parameterize}_none", :title => t('proposal.status.none')}
          - else
            - barclamp[:proposals].sort.each do |proposal_name, proposal|
              .led.div-center{:id => "#{name.parameterize}_#{proposal_name}", :class => proposal[:status], :title => "#{proposal_name.titlecase} - #{t 'proposal.status.'+proposal[:status]}"}
        %td= "#{barclamp[:description]}"
        %td
          %a.toggle.with_label.button{:href => "#", :id => "#{name.parameterize}_details_toggle", :rel => "#{name.parameterize}_details"}= t('proposal.actions.edit')

    - if barclamp[:allow_multiple_proposals] and barclamp[:proposals].length != 0
      %tr{:class => current_cycle("barclamps"), :style => "display:#{params[:id]==name or barclamp[:expand] ? 'float' : 'none'}", :id => "#{name.parameterize}_details"}
        %td.container{:colspan => "3"}
          .box
            %table.data
              %tbody
                - if barclamp[:proposals].length > 0
                  - barclamp[:proposals].sort.each do |proposal_name, proposal|
                    - prop_id = "#{name}_#{proposal_name}"
                    %tr{:class => ["proposal", cycle(:odd, :even)], :id => barclamp[:id]}
                      %td.status
                        .led{:class => proposal[:status], :id => "#{prop_id}_details", :title=> t('proposal.status.'+proposal[:status])}
                      %td{:style => "width:10%"}
                        = proposal_name.titlecase
                      %td
                        - unless proposal[:status] === 'failed'
                          = proposal[:description].capitalize
                        - else
                          = "#{t('.failed')} - #{proposal[:message]}"
                      %td
                        = link_to t('proposal.actions.edit'), proposal_barclamp_path(:controller=>name, :id=>proposal_name), :class => 'button'
                - form_for :proposal, :remote => true, :url => create_proposal_barclamp_path(:controller => name), :html => { :'data-type' => 'html', :'data-method' => 'put', :method => :put, :id => 'create_proposal_form', :class => "formtastic"} do |f|
                  %tr{:class => ["proposal", cycle(:odd, :even)]}
                    %td{:style => "text-align:center"} +
                    %td
                      = hidden_field_tag :barclamp, name
                      = text_field_tag :name, t('proposal.items.default'), :size => 15
                    %td
                      = text_field_tag :description, "#{t 'created_on'} #{l(Time.now) }", :size => 60
                    %td
                      %input.button{:type => "submit", :value => t('proposal.actions.create')}
