%tbody
  - catalog = ServiceObject.barclamp_catalog
  - @modules.each do |name, barclamp|
    %tr{:id=>name, :class => ["barclamp", cycle(:odd, :even, :name => "barclamps")]}
      %td
        %a.toggle.with_label{:href => "#", :id => "#{name.parameterize}_details_toggle", :rel => "#{name.parameterize}_details"}= name.titlecase
      %td
        - if barclamp[:proposals].length == 0
          .led.div-center.none{:id => "#{name.parameterize}_none", :title=>t('proposal.status.none')}
        - else
          - barclamp[:proposals].sort.each do |proposal_name, proposal|
            .led.div-center{:id => "#{name.parameterize}_#{proposal_name}", :class => proposal[:status], :title=>"#{proposal_name.titlecase} - #{t 'proposal.status.'+proposal[:status]}"}
      %td= "#{barclamp[:description]}"

      %tr{:class => current_cycle("barclamps"), :style => "display:#{params[:id]==name or barclamp[:expand] ? 'float' : 'none'}", :id => "#{name.parameterize}_details"}
        %td.expand{:colspan => "3"}
          %table.table.table-bordered
            %tbody
              - if barclamp[:proposals].length > 0
                - barclamp[:proposals].sort.each do |proposal_name, proposal|
                  - prop_id = "#{name}_#{proposal_name}"
                  %tr{:class => ["proposal", cycle(:odd, :even)], :id => barclamp[:id]}
                    %td.status
                      .led.div-center{:class => proposal[:status], :id => "#{prop_id}_details", :title=> t('proposal.status.'+proposal[:status])}
                    %td
                      - if proposal[:active]
                        = link_to proposal_name.titlecase, show_barclamp_path(:controller=>name, :id=>proposal_name)
                      -else
                        = link_to proposal_name.titlecase, proposal_barclamp_path(:controller=>name, :id=>proposal_name)
                    %td
                      - unless proposal[:status] === 'failed'
                        = proposal[:description]
                      - else
                        = "#{t('.failed')} - #{proposal[:message]}"
                    %td.text-center
                      = link_to t('proposal.actions.edit'), proposal_barclamp_path(:controller=>name, :id=>proposal_name)
              - if barclamp[:allow_multiple_proposals] or barclamp[:proposals].length == 0
                %tr{:class => ["proposal", cycle(:odd, :even)]}
                  - form_for :proposal, :remote => true, :url => create_proposal_barclamp_path(:controller => name), :html => { :'data-type' => 'html', :'data-method' => 'put', :method => :put, :class => "formtastic", :autocomplete => "off" } do |f|
                    %td{:style => "text-align:center"} +
                    %td
                      = hidden_field_tag :barclamp, name
                      = text_field_tag :name, t('proposal.items.default')
                    %td
                      = text_field_tag :description, "#{t 'created_on'} #{l(Time.now) }"
                    %td
                      %input.btn.pull-right{:type => "submit", :value => t('proposal.actions.create')}
