f @role.elements.length > 0
  %table{:class => "top"}
    - @role.elements.each_pair do |key, value|
      %tr
        %td= "#{t '.role'} <b>#{key}</b>"
        %td= value.map{|m| m.split('.').first}.map{|m| link_to m, nodes_path(:selected => m)}.join('<br/>')
  .clear
- else
  %p
    = t '.none'

