- if @role.elements.empty?
  .alert.alert-info
    = t(".none")

- else
  %table.table.table-hover
    %thead
      %th.col-xs-4
        = t(".role")
      %th
        = t(".nodes")
    %tbody
      - @role.elements.sort.each do |name, value|
        %tr
          %td
            %em
              %b
                = chef_server_role_link name
          %td
            = node_links_for(value).join(", ").html_safe
