- if @role.elements.empty?
  .alert.alert-info
    = t('.none')
- else
  %table.table.table-hover
    %thead
      %th.col-xs-4
        = t(".role")
      %th
        = t(".nodes")
    %tbody
      - @role.elements.sort.each do |name, value|
        %tr
          %td
            %em
              %b
                = chef_server_role_link name
          %td
            - clusters = value.select {|n| @service_object.is_cluster? n}
            - cluster_links = clusters.map {|c| bc, prop = @service_object.cluster_get_barclamp_and_proposal(c); link_to_proposal_with_name(bc, prop)}
            - nodes = value - clusters
            = [cluster_links, node_links_for(value)].flatten.join(", ")
