%h1= t '.title'

%ol
  - @barclamps.sort.each do |bc|
    %li
      %h3= "#{bc.name} (#{bc.description})"
      %ul{:id=>bc.id}
        %li
          = t ".parents"
          = ":"
          = bc.parents.map{|b| "#{b.name}"}.join(", ")
        %li
          = t ".members"
          = ":"
          = bc.members.map{|b| "#{b.name}"}.join(", ")
        %li
          = t '.element_order'
          %ol
            - bc.template.role_order.each do |row|
              %li
                - row.each do |r|
                  = "#{r.name} > "
        %li{:id=>"#{bc.id}_template"}
          - template = bc.template
          = t ".template"
          %strong= template.name
          = " (#{template.description})"
          %ul{:id=>"#{bc.id}_roles"}
            - template.roles.each do |role|
              %li
                = t ".roles"
                %strong= role.name
                = "(order: #{role.older}, run_order: #{role.run_order}," 
                = "#{t ".element_states"}: #{role.states})"
                %ul
                  - role.attribs.each do |ai|
                    %li{:id=>ai.id}= ai.name
        %li
          = t ".deployments"
          %ul{:id=>"#{bc.id}_deployments"}
            - bc.deployments.each do |c|
              %li
                = link_to c.name, deployment_path(:barclamp_id=>c.barclamp.id, :id=>c.id)
                = render :partial => 'deployments/led', :locals => { :deployment=>c }
                = ": #{(c.active?) ? t('active') : ''} #{c.description}"
                - c.snapshots.each do |i|
                  %li
                    = "#{t '.snapshot'}: #{(i.active?) ? t('active') : ''} #{i.id} = #{t(i.status, :scope=>'barclamp.status')}"

    
