- if @count>0
  %p{:style => 'float:right'}
    = "#{@count} #{t('.proposals')}"
%h1= @title

%table.data.box
  - if @bc_name === 'barclamp'
    = render :partial => 'barclamp/index'
  - else
    = begin render :partial => "barclamp/#{@bc_name}/index" rescue (render :partial => 'barclamp/index') end

:javascript
  function update() {
    $.ajaxSetup({ timeout: 3000 }) 
    $.getJSON('#{status_proposals_barclamp_path}', function(data) {
      // If role has changed, re-render the page
      if (#{@count}>0 && data['count'] != #{@count}) {
        location.reload();
      };
      
      // Update proposals status
      $.each(data['proposals'], function(key,val) {
        led_update($('#'+key), key, val);
        led_update($('#'+key+'_details'), key, val);
      });

    });
  }
  
  function led_update(td, key, val) {
    if(!td.hasClass(val)){
      td.attr('class', val+' led');
      td.attr('title', val);
      td.effect("highlight", {color: '#666666'}, 2000);
      // remove the button since it does not reflect the state anymore
      $('#'+key+'_button').attr('hidden', 'true');
    };  
  }
