%h2.page-header
  = t('.title')
.page-header-bottom
#proposals
  - i = -1
  - @groups.sort.each do |group_name, group|
    .row
      .span3
        %table.table.table-bordered{:id => "group_#{(group_name || t('unknown')).parameterize}"}
          %thead
            %tr
              %th
              %th{:title=>group['description']}= group_name.camelize
              %th
          %tbody
            - group['proposals'].sort.each do |proposal, member|
              %tr{ :class => cycle(:odd, :even), :id => proposal }
                %td.status{:raw=> 'unknown' }
                  .led{:class => 'unknown', :title=>t("state.unknown", :default=>'unknown'.titlecase)} 
                %td.name
                  %a{:href => proposal_barclamp_path(:id=>member['proposal'], :controller=>member['barclamp']), :title=> (member['description'].nil? ? t(:not_set) : member['description']), :id => proposal.parameterize}
                    = "#{member['barclamp'].camelize}: #{member['proposal'].camelize}"
                  %ul.nodes{:id=>proposal, :style=>'display:none' }
                    %li= t 'updating'
                %td.expand
                  %img{:id=>proposal, :src=>'/images/icons/toggle-off.png', :open=>'false', :onClick=>"get_nodes(\'#{member['barclamp']}\',\'#{member['proposal']}\');"}
.clear

:javascript

  function get_nodes(barclamp, proposal) {
    var toggle = $("img#"+barclamp+"-"+proposal);
    var node = $("ul#"+barclamp+"-"+proposal+".nodes");
    console.debug(barclamp + proposal + toggle.attr('open')+ node.text());
    if (toggle.attr('open') == 'open') {
      toggle.attr('src','/images/icons/toggle-on.png');
      toggle.attr('open',"true");
      toggle.addClass('open');
      node.attr('style', 'display:inline');
      $.getJSON("/crowbar/"+barclamp+"/1.0/"+proposal+"/nodes", function(data) {
        $.each(data['nodes'], function(key,val) {
          console.debug(key+val);
          var ll = "<li>"+val['alias']+"</li>";
          node.append(ll);
        });
      });
    } else {
      toggle.attr('src','/images/icons/toggle-off.png');
      toggle.attr('open',"false");
      toggle.removeClass('open');
      node.hide;
    }
  }
