.row
  .col-xs-12
    %h1.page-header
      = display_led_for(@proposal.status, controller: @role.barclamp, proposal: @role.prop, url: status_proposal_path(controller: @role.barclamp, id: @role.inst, format: :json))

      - if @service_object.simple_proposal_ui? and not @role.allow_multiple_proposals?
        = link_to @role.display_name, available_barclamps_path(selected: @role.barclamp)
      - else
        = link_to @role.multi_name, available_barclamps_path(selected: @role.barclamp)

.panel.panel-default
  .panel-heading
    %h2
      = t(".attributes")

      .btn-group.pull-right
        = edit_barclamp_button(@role.barclamp, @role.inst)

  = render_barclamp_show_attributes @role.barclamp, @attr_raw

  .panel-heading
    %h2
      = t(".deployment")

      .btn-group.pull-right
        = edit_barclamp_button(@role.barclamp, @role.inst)

  = render_barclamp_show_deployment @role.barclamp, @dep_raw
