.row
  .col-xs-12
    %h1.page-header
      = t(".title", :barclamp => @bc_name.titleize)

.panel.panel-default{ "data-ledupdate" => proposals_status_path }
  %table.table.table-hover.barclamp-list
    %thead
      %tr
        %th
          = ProposalObject.human_attribute_name :status
        %th
          = ProposalObject.human_attribute_name :barclamp
        %th
          = ProposalObject.human_attribute_name :name
        %th
          = ProposalObject.human_attribute_name :description
        %th

    %tbody
      - @proposals.sort_by{ |n| "#{n.barclamp}/#{n.name}" }.each do |proposal|
        %tr
          %td.col-xs-1.status
            = display_led_for(proposal.status, "#{proposal.barclamp.parameterize}_#{proposal.name.parameterize}")
          %td
            = proposal.barclamp.titlecase
          %td
            = proposal.name
          %td
            = proposal.description
          %td.col-xs-1
            = show_barclamp_button(proposal.barclamp, proposal.name, :class => "btn btn-default btn-block")
