- prop = "#{@role.barclamp}_#{@role.inst}"
- barclamp = @role.barclamp
- role_name = @role.inst
- catalog = ServiceObject.barclamp_catalog
- display_name = catalog['barclamps'][barclamp]['display']
- display_name = barclamp.titlecase if display_name.nil? or display_name == ""

.led.unknown{:id => prop, :title=>t('proposal.status.unknown'), :style=>'float:left;'}
- if @service_object.simple_proposal_ui? && !Kernel.const_get("#{barclamp.camelize}Service").method(:allow_multiple_proposals?).call
  %h2
    = link_to "#{display_name}", barclamp_modules_path(:id=>@role.barclamp)
    = link_to t('.edit'), "/crowbar/#{@role.barclamp}/1.0/proposals/#{@role.inst}", :class => 'btn pull-right'
- else
  %h2
    = link_to "#{display_name}: #{@role.inst.titlecase}", barclamp_modules_path(:id=>@role.barclamp)
    = link_to t('.edit'), "/crowbar/#{@role.barclamp}/1.0/proposals/#{@role.inst}", :class => 'btn pull-right'

.box1
  %h3= t '.attributes'

  =(@attr_raw ? (render :partial => 'barclamp/show_attributes_raw') : (begin render :partial => "barclamp/#{@role.barclamp}/show_attributes" rescue (render :partial => 'barclamp/show_attributes_raw') end))

.box1
  %h3= t '.deployment'
  =(@attr_raw ? (render :partial => 'barclamp/show_deployment_raw') : (begin render :partial => "barclamp/#{@role.barclamp}/show_deployment" rescue (render :partial => 'barclamp/show_deployment_raw') end))
%br
  .pull-right
    =link_to t('.edit'), "/crowbar/#{@role.barclamp}/1.0/proposals/#{@role.inst}", :class => 'btn'


:javascript

  function update() {
    $.ajaxSetup({ timeout: 3000 })
    $.getJSON('#{status_proposals_barclamp_path(:id=>prop, :barclamp=>barclamp, :name=>role_name)}', function(data) {
      // Update proposals status
      $.each(data['proposals'], function(key,val) {
        var el = $('#'+key);
        if(el.hasClass("unknown")) {
          led_update(el, key, val, data['i18n'][key]['status'] );
        } else {
          led_update(el, key, val, data['i18n'][key]['status'], function(){ el.effect("highlight", {color: '#eeeeee'}, 2000); });
        }
      });
    });
  }

  function led_update(td, key, val, i18n, callback) {
    if(!td.hasClass(val)){
      td.destroy();
      td.attr('class', val+' div-center led').attr('title', i18n);
      if(typeof callback == 'function'){
        callback.call();
      }
    };
  }

  jQuery(document).ready(function($) {
    update();
  });
