.row
  .col-xs-12
    %h1.page-header
      = display_led_for(:unknown, @role.prop, proposal_status_path(:id => @role.prop, :controller => @role.barclamp, :name => @role.inst))

      - if @service_object.simple_proposal_ui? and not @role.allow_multiple_proposals?
        = link_to @role.display_name, barclamp_modules_path(:id => @role.barclamp)
      - else
        = link_to "#{@role.display_name}: #{@role.inst.titlecase}", barclamp_modules_path(:id => @role.barclamp)

.panel.panel-default
  .panel-heading
    %h2
      = t(".attributes")

      .btn-group.pull-right
        = edit_barclamp_button(@role.barclamp, @role.inst)

  = render_barclamp_show_attributes @role.barclamp, @attr_raw

  .panel-heading
    %h2
      = t(".deployment")
      
      .btn-group.pull-right
        = edit_barclamp_button(@role.barclamp, @role.inst)
        
  = render_barclamp_show_deployment @role.barclamp, @dep_raw
