%h1= "#{@role.barclamp.titlecase} #{@role.inst}"

.box
  %h2= t '.attributes'
  = render :partial => "barclamp/show_attributes_raw"

.box
  %h2= t '.deployment'
  = render :partial => "barclamp/show_deployment_raw"