- if list.length == 0
  %p= t 'no_items'
- else
  %table.data.box
    %thead
      %tr
        %th= t '.role'
        %th= t '.barclamp'
        %th= t '.description'
        %th= t '.flags'
        %th= t '.upstream'
    %tbody
      -list.each do |role|
        - if jig_name.nil? or role.jig_name.eql? jig_name
          %tr
            %td= link_to role.name, role_path(:id=>role.id)
            %td= link_to role.barclamp.name, barclamp_path(role.barclamp.id), :title=>role.barclamp.description
            %td= role.description
            %td
              = t '.library' if role.library 
              = t '.discovery' if role.discovery
              = t '.implicit' if role.implicit
              = t '.bootstrap' if role.bootstrap
              = t '.server' if role.server
            %td
              - role.parents.each do |p|
                = link_to p.name, role_path(p), :title=>p.description
