%h1= t '.title'

%ul
  - @list.each do |i|
    %li
      = "#{i.name}: #{i.description}"
      %ul
        %li= "jig: #{i.jig_name}"
        %li= "barclamp: #{i.barclamp.name}"
        - i.requires do |req|
          %li= "requires: #{req.requires}"
