- unless @top
  = t(".no_proposal_deployed")
- else
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th
          = t(".proposal_name")
        %th
          = t(".nodes")
    %tbody
      %tr
        %td
          = @top.barclamp
          = @top.name
        %td
          = render :partial => "elements", :locals => { :elements => @top.elements, :all_nodes => @nodes }
