- if dependencies.nil? || dependencies.empty?
  = t(".no_dependencies")
- else
  - dependencies.map { |dep| all_proposals["#{dep["barclamp"]}_#{dep["inst"]}"] }.each do |dep|
    %div
      %span.led{ :class => dep.status, :title => t(dep.status, :scope => "state", :default => dep.status.titlecase), "data-node" => dep.name }
      %span
        = dep.barclamp
        = dep.name
