%h1
  = t(".deployment_queue")

%h2
  = t(".currently_deployed")

= render "deployed_proposal"

%h2
  = t(".waiting_in_queue")

- if @queue.empty?
  = t(".deploy_queue_empty")
- else
  %table.table.table-bordered.table-striped
    %thead
      %tr
        %th
          = t(".proposal_name")
        %th
          = t(".nodes")
        %th
          = t(".dependencies")
        %th
          = t(".reason")
        %th
          = t(".actions")
    %tbody
      - @queue.each do |item|
        %tr
          %td
            = item["barclamp"]
            = item["inst"]
          %td
            = render :partial => "elements", :locals => { :elements => item["elements"], :all_nodes => @nodes }
          %td
            = render :partial => "dependencies", :locals => { :dependencies => item["deps"], :all_proposals => @props }
          %td
            = render :partial => "missing_nodes", :locals => { :nodes => item["elements"].values.flatten.uniq, :all_nodes => @nodes }
            = render :partial => "missing_dependencies", :locals => { :dependencies => item["deps"], :all_proposals => @props }
          %td
            %form{:action => update_proposal_barclamp_path(item["barclamp"], item["inst"]), :method => :post}
              = hidden_field_tag("origin", "deployment_queue", :id => "origin_#{item["barclamp"]}_#{item["inst"]}")
              = hidden_field_tag("name", item["inst"], :id => "name_#{item["barclamp"]}_#{item["inst"]}")
              %input.btn.btn-default{:type => "submit", :name => "submit", :value => t("barclamp.proposal_show.dequeue_proposal") }
