.row
  .col-xs-12
    %h1.page-header
      = t(".title")

      .badge{ :title => t(".extended_clusters", :count => @clusters.count) }
        = t(".simple_clusters", :count => @clusters.count)

.row
  = render :partial => "cluster_dashboard", :locals => { :clusters => @clusters }
.row
  = render :partial => "unallocated_nodes"
  = render :partial => "unassigned_nodes"

.row
  = render :partial => "role_dashboard"

.row
  = render :partial => "unassigned_roles"

.row
  .col-xs-12
    %h2
      = t(".compute_nodes")
.row
  .col-md-8.col-xs-12
    .row
      = render :partial => "compute_nodes_dashboard"
