.row
  .col-xs-12
    %h1.page-header
      = t(".title")

%h2
  = t(".clusters")

- @clusters.each do |element, cluster|
  = render :partial => "dashboard", :locals => { :element => element, :status => ServiceObject.cluster_status(element)}

%h2
  = t(".unallocated_nodes")

= render :partial => "unallocated_nodes"

%h2
  = t(".unassigned_nodes")

= render :partial => "unassigned_nodes"
