%h1= t('.title')
- @switches.sort.each do |switch, sw_details|
  %table.data.switch.box{ :id=>switch }
    %thead
      %tr
        %th
        %th{:colspan=>"#{(sw_details[:max_port]+1)/2}" }
          = t('.switch') + " : " + switch
        %th
    %tbody
      %tr
        - 1.step(23, 2) do |port|
          =render :partial => 'index', :locals => { :switch=> switch, :sw_details=>sw_details, :port=>port } 
      %tr
        - 2.step(24, 2) do |port|
          =render :partial => 'index', :locals => { :switch=> switch, :sw_details=>sw_details, :port=>port } 
  -if sw_details[:max_port]>24
    %table.data.switch.box{ :id=>switch }
      %thead
        %tr
          %th
          %th{:colspan=>"#{(sw_details[:max_port]+1)/2}" }
            = t('.switch') + " : " + switch
          %th
      %tbody
        %tr
          - 25.step(47, 2) do |port|
            =render :partial => 'index', :locals => { :switch=> switch, :sw_details=>sw_details, :port=>port } 
        %tr
          - 26.step(48, 2) do |port|
            =render :partial => 'index', :locals => { :switch=> switch, :sw_details=>sw_details, :port=>port } 

.clear

:javascript

   // set highlights on hover
  $('div.port')
    .hover( 
      //hover in
      function(ev) {
        var node = $(this).attr('node');
        $('div.port[node='+node+']').addClass('edge');
      },
      //hover out 
      function(ev) {
        var node = $(this).attr('node');
        $('div.port[node='+node+']').removeClass('edge');      
      }
    );
