%h1= @barclamp.name

%dl
  %dt= t '.description' 
  %dd= @barclamp.description

%h3= t '.roles'

= render :partial => "roles/index", :locals => { :list => @barclamp.roles, :jig_name => nil }
