%h1= t '.title'

.column_40

  %h2
    = t '.roles'

  %ol
    - @roles.each do |r|
      - if r.nil?
        %li
          - rnew = 'network-admin'
          - jigname = Role.find_key('network-server').jig_name
          = link_to t('.add', :role=>rnew), roles_path(:version=>'v2', :name=>rnew, :jig_name=>jigname, :barclamp=>'network', 
                              :description=>t('useradded', :user=>current_user.username)), 
                              :"data-method"=>:post, :class=>'button', :remote=>true, :onclick=>"location.reload();"
      - else
        %li
          %a.role{:href => role_path(r.id, :form=>'true'), :title=>r.description, :id => r.id}= r.name

  %h2= t '.admin_server'

  - if Node.count == 0 
    - name = %x{hostname -f}.strip
    = link_to t('.create', :server=>name), make_admin_path(:version=>'v2'), :"data-method"=>:post, :class=>'button', :remote=>true, :onclick=>"location.reload();"
  -else
    - Node.admin.each do |n|
      =link_to n.name, nodes_path(n.id)

  %h2
    = link_to t('.converge'), converge_path(:version=>'v2'), :class=>'button', :"data-method"=>:put, :remote=>true

.column_50
  %p
  %section.box#role_edit
    = t '.hint'

:javascript

  $(document).ready(function() {  
    $.loadDetails('role', 'role_edit');
    });