- o = %x[uname -a]
- s = o.split ' ' 
- os = s[3].split('-')[1]
- ver = s[2].split('-')[0]

%h1= t '.title'


-if false # works, but not used at this point
  %h2
    = t '.select_files'
    %div{:style=>'float:right'}
      %form{:action=>"import",:method=>"post",:enctype=>"multipart/form-data"}
        %input{:type=>"file",:name=>"file"}
        %input{:type=>"submit",:value=>t('.upload')}

.column_100
  %section.box#details
    -if @output
      = @output
    -else
      = t('.admin_os') + ": "
      %em= t("#{os.downcase}-#{ver.gsub('.','-')}", :scope=> 'support.os', :default=>o)

%table.data.box
  %thead
    %tr
      %th= t '.installed'
      %th= t '.order'
      %th= t '.name'
      %th= t '.version'
      %th= t '.user'
      %th= t '.available'
      %th= t '.action'
  %tbody
    - @installed.sort_by{|k,v| (v['order'].to_i || 9999) }.each do |key, value|
      %tr{:id=>key, :class => ["barclamp", cycle(:odd, :even, :name => "barclamps")]}
        %td= t ((value['installed'] || true) ? 'yes' : 'no')
        %td= value['order'] || t('not_set')
        %td{:title=>(value['description'] || t('not_set'))}= key.titlecase
        %td= value['version'] || t('unknown')
        %td= t (value['user_managed'] ? 'yes' : 'no')
        -if @imports[key]
          %td{:title=>@imports[key][:tar]}
            = t('.version') + " " + @imports[key][:barclamp]['version'].to_s
          %td
            = link_to t('.import'), utils_import_path(:id => @imports[key][:tar]), :class=>'button'
        -else
          %td{:colspan=>2}= t 'na'
          
