- register_javascripts "barclamps/crowbar/support"

.row{ "data-update" => utils_path(:format => :json, :file => "FILENAME"), "data-counter" => @export.counter, "data-redirect" => utils_path(:file => "FILENAME") }
  .col-xs-12
    %h1.page-header
      = t(".title")

      .btn-group.pull-right
        - BarclampCatalog.barclamps.each do |barclamp, details|
          - if ("#{barclamp.camelize}Controller".constantize.new.methods.include?("export") rescue false)
            = link_to t("nav.#{barclamp}_export"), export_barclamp_path(controller: barclamp), class: "btn btn-default"

        = link_to t("nav.util_chef"), export_barclamp_path(controller: "chef"), class: "btn btn-default"

        - if suse_system?
          = link_to t("nav.util_supportconfig"), export_barclamp_path(controller: "supportconfig"), class: "btn btn-default"

- if @export.waiting
  .alert.alert-success
    = t(".wait")

- if @export.counter > 0
  .panel.panel-default
    - @export.files.each do |key, files|
      - unless files.empty?
        .panel-heading
          %h2
            = t(".#{key}", default: key.to_s.titlecase)

        %ul.list-group
          - files.sort.reverse.each do |file|
            %li.list-group-item
              - if @export.current == file
                = link_to "#{file} #{badge_tag(t("new"))}".html_safe, "/export/#{file}"
              - else
                = link_to file, "/export/#{file}"

              = link_to icon_tag("trash"), util_path(id: file), method: :delete, title: t(".delete_hint"), class: "pull-right"
- else
  .alert.alert-info
    = t(".none_exported")
