%h2.page-header
  = t '.title'
  .pull-right
    - ServiceObject.barclamp_catalog['barclamps'].each do |bc, details|
      - c = "#{bc.camelize}Controller"
      - if (eval(c).new.methods.include?('export') rescue false)
        = link_to t("nav.#{bc}_export"), utils_export_path(:controller=>bc), :class => 'btn'
    = link_to t('nav.util_chef'), export_chef_path, :class => 'btn'
.page-header-bottom
-if @waiting
  %em= t '.wait'
  
-if @exports[:count] == 0
  .lead= t '.none_exported'
-else
  - @exports.each do |key, value|
    - if key != :count
      -if value.length != 0
        %h3=t ".#{key}", :default=>key.to_s.titlecase
        %ul        
          -value.sort.reverse.each do |file|
            %li
              -if @file==file
                %em#new= t('new')
              %a{:href=>"/export/#{Haml::Helpers.html_escape file}"}
                = file
              = link_to image_tag('/images/icons/delete.png'), utils_files_path(:id => file), :title=>t('.delete_hint')
            
.clear

:javascript
  
  function update() {
    $.ajaxSetup({ timeout: #{ (@waiting ? 1000 : 10000) }})
    $.getJSON('utils?format=json', function(data) {     
      if (data['count'] != #{@exports[:count]})
        location.href = '#{utils_path}?file=#{Haml::Helpers.html_escape params["file"]}';
    });      
  }

  $('#new').hide(5000);
  
