%h1= t '.title'

-if @exports.length == 0
  %h3= t '.none_exported'
-else
  - @exports.each do |key, value|
    -if value.length != 0
      %h3=t ".#{key}"
      %ul        
        -value.sort.reverse.each do |file|
          %li
            -if @file==file
              %em= t('new')
            %a{:href=>"\\export\\#{file}"}
              = file
            = link_to image_tag('/images/icons/delete.png'), utils_files_path(:id => file.sub(/\./,'-DOT-')), :title=>t('.delete_hint')