.row{ "data-update" => utils_path(:format => :json, :file => "FILENAME"), "data-counter" => @export.counter, "data-redirect" => utils_path(:file => "FILENAME") }
  .col-xs-12
    %h1.page-header
      = t(".title")

      .btn-group.pull-right
        %button.btn.btn-default.dropdown-toggle{ type: "button", data: { toggle: "dropdown" }, aria: { expanded: "false" } }
          = t(".export.title")
          %span.caret

        %ul.dropdown-menu{ role: "menu" }
          - BarclampCatalog.barclamps.each do |bc, details|
            - if ("#{bc.camelize}Controller".constantize.new.methods.include?("export") rescue false)
              %li
                = link_to t(".export.#{bc}"), utils_export_path(:controller => bc)

          %li
            = link_to t(".export.chef"), export_chef_path

          - if suse_system?
            %li
              = link_to t(".export.supportconfig"), export_supportconfig_path

- if @export.waiting
  .alert.alert-success
    = t(".wait")

- if @export.counter > 0
  .panel.panel-default
    - @export.files.each do |key, files|
      - unless files.empty?
        .panel-heading
          %h2
            = t(".#{key}", :default => key.to_s.titlecase)

        %ul.list-group
          - files.sort.reverse.each do |file|
            %li.list-group-item
              - if @export.current == file
                = link_to "#{file} #{badge_tag(t("new"))}".html_safe, "/export/#{file}"
              - else
                = link_to file, "/export/#{file}"

              = link_to icon_tag("trash"), utils_files_path(:id => file), :title => t(".delete_hint"), :class => "pull-right"
- else
  .alert.alert-info
    = t(".none_exported")
