.row
  .col-xs-12
    %h1.page-header
      = t(".title")

      .btn-group.pull-right
        = link_to t(".button"), restart_path(:id => "request" ), :class => "btn btn-default"

- if @init
  .panel.panel-default
    .panel-heading
      %h2
        %span.led.off
        %span#status
          = t(".in_process")

    - if params[:id].eql? "import" and @log.file?
      .panel-heading
        %h2
          = t(".import_log", :file => File.basename(@log))

      .panel-body
        - File.open(@log, "r").each do |line|
          %p
            = line

:javascript
  if (#{@init}) {
    $.get('/utils/restart/in_process');

    var updater = setInterval(
      function() {
        $.ajax({
          url: '/utils/restart/#{Crowbar::Application::SERVER_PID}.json',
          success: function (data) {
            if (data) {
              $('.led').attr('class','led ready');
              $('#status').text('#{t(".complete")}');

              location.href = "/utils/import";
            } else {
              $('.led').attr('class','led pending');
              #{Rails.env == "development" ? "clearInterval(updater);" : ""}
              $('#status').text('#{Rails.env == "development" ? t(".dev_restart") : t(".restarting")}');
            }
          },
          error: function (request, status, error) {
            $('.led').attr('class', 'led in_process');
            $('#status').text('#{t(".server_down")}');
          }
        });
      },
      15000
    );
  }
