= javascript_include_tag 'doc'

%h1= t('.title')

%input{:type=>'button', :class=>'doc-export-show', :onclick=>'doc_export_show()', :value=>t('.export_show')}
%input{:type=>'button', :class=>'doc-export-hide', :onclick=>'doc_export_hide()', :value=>t('.export_hide')}
%input{:type=>'button', :class=>'doc-export-export', :onclick=>'doc_export_export()', :value=>t('.export_export')}

/ Full Index
%div#docindex
  %ul
    = render partial: 'tree', collection: Doc.roots.sort

/ Table of Contents
%div{:class=>"toc box"}
  %h2= t('.toc_title')
  %ol(type="1")
    - Doc.roots.sort.each do |x|
      %li
        %a{:href=>"##{x.id}"}= truncate(x.description)

.clear
