%p
%section.box#nav
  %h3= t('.nav') + ": " + @topic.description
  %ol  
    %li= link_to t('docs.root'), docs_path
    - unless @topic.parent_name.eql? 'root'
      %li{:title=>"#{t '.details'}: #{@topic.parent.date} #{t '.details_by'} #{@topic.parent.author}"}
        = link_to @topic.parent.description, docs_topic_path(:id=>@topic.parent_name)

%topic= @text.html_safe

- if @topic.children.length > 0
  %section.box#children
    %h3= t '.children'
    %ol
      - @topic.children.each do |section|
        %li{:title=>"#{t '.details'}: #{section.date} #{t '.details_by'} #{section.author}"}
          = link_to section.description, docs_topic_path(:id=>section.name)
          = "(p=#{section.parent_name}, o=#{section.order})" if Rails.env == 'development'

.clear
