%section#nav
  %h2.page-header
    = t('.nav') + ": " + @meta['title']
  .page-header-bottom
  %ul
    %li= link_to t('docs.root'), docs_path
    - unless @parent.nil?
      = render :partial => 'index', :locals=>{:id=>'', :parent=>@parent_link, :children=>0, :meta=>@parent['topic_meta_data'], :show_children=>false, :prefix=>"^ #{t '.parent'}: "} 
    %li= "#{t '.details'}: #{@meta['date']} #{t '.details_by'} #{@meta['author']}" if @meta
    - if RAILS_ENV == 'development' and @meta
      %li= "Source Path: #{@meta['file']}"

%topic
  = @text

- if @children and @children.length>0
  %section#children
    %h3= t '.children'
    %ol
      - @children.sort_by{ |k, v|  v['topic_meta_data']['sort'] }.each do |child, child_details|
        = render :partial => 'index', :locals=>{:id=>child, :parent=>@path, :children=>child_details.keys.length-1, :meta=>child_details['topic_meta_data'], :show_children=>true, :prefix=>nil} 

.clear