%h1{:title=>"#{t '.details'}: #{@meta['date']} #{t '.details_by'} #{@meta['author']}"}= @meta['title']

%section.box#nav
  %h3= t '.nav'
  %ul
    %li= link_to t('docs.root'), docs_path
    - if @parent
      - # this should be expanded to have multiple levels!  
      %li= "^ #{t '.parent'}: #{link_to @parent['topic_meta_data']['title'], docs_topic_path(:id=>'foo')}" if parent

%p= @topic.inspect

.clear