.row
  .col-xs-12
    %h1.page-header
      = @meta["title"]

      %small
        = t(".authored", :date => @meta["date"], :author => @meta['author'])

      .btn-group.pull-right
        = link_to icon_tag("home"), docs_path, :title => t(".root"), :class => "btn btn-default"

        - if @parent
          = link_to icon_tag("arrow-up"), topic_docs_path(:id => @parent_link.chomp("+")), :title => t(".parent", :title => @parent["topic_meta_data"]["title"]), :class => "btn btn-default"

- if @text
  .panel.panel-default
    .panel-body
      = @text





- if @children and @children.length>0
  %section.box#children
    %h3= t '.children'
    %ol
      - @children.sort_by{ |k, v|  v['topic_meta_data']['sort'] }.each do |child, child_details|
        = render :partial => 'index', :locals=>{:id=>child, :parent=>@path, :children=>child_details.keys.length-1, :meta=>child_details['topic_meta_data'], :show_children=>true, :prefix=>nil} 
