%p#add_button{:style => 'float:right'}
  = link_to t('user.eula'), docs_path(:id=>'crowbar/book-licenses'), :class => 'button', :id=>'eula_button'
%h1= t 'user.sign_in'

%section.box#login
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    %dl
      %dt= f.label :username
      %dd= f.text_field :username
    %dl
      %dt= f.label :password
      %dd= f.password_field :password
    - if devise_mapping.rememberable?
      %dt
      %dd
        = f.label :remember_me
        = f.check_box :remember_me    
    %dl
      %dt
      %dd= f.submit "Sign in"
= render :partial => "devise/shared/links"