- case state
  - when NodeRole::PROPOSED
    = link_to t('.commit'), snapshot_commit_path(snapshot.id, :version=>2), :class => 'button'
  - when NodeRole::TODO
    =  t('.recall')
  - when NodeRole::ACTIVE
    = form_for :snapshot, :'data-remote' => true, :url => snapshot_propose_path(:snapshot_id=>snapshot.id), :html => { :method=>:put, :'data-type' => 'html',  :class => "formtastic" } do |f|
      = text_field_tag :name, snapshot.name, :size => 15
      %input.button{:type => "submit", :name => "propose", :value => t('.propose')}
  - else NodeRole::ERROR
    = link_to t('.correct'), snapshot_propose_path(:snapshot_id=>snapshot.id), :class => 'button'

