%h1= t '.title'

%table.data.box
  %thead
    %tr
      %th= t '.deployment'
      %th= t '.description'
      %th= t '.status'
      %th= t '.active'
      %th= t '.actions'
  %tbody
    - @list.each do |d|
      - state = d.state
      %tr
        %td= link_to d.name, deployment_path(d.id)
        %td= d.description
        %td
          .led{:class => NodeRole::STATES[state || NodeRole::ERROR], :title=>NodeRole.state_name(state)}
        %td= link_to d.head.name, snapshot_path(d.head.id)
        %td= render :partial => 'buttons', :locals => { :state=>state, :snapshot=>d.head } rescue 'buttons?'
