%p{:style=>'float:right'}
  = render :partial => 'buttons', :locals => { :deployment=>@deployment } rescue 'buttons!'
%h1
  - if @deployment.committed?
    = t '.committed'
  - elsif @deployment.proposed?
    = t '.proposed'
  - elsif @deployment.active?
    = t '.active'
  - else
    = t 'error'
  = @deployment.name

= @deployment.inspect

