= form_for :node, :url => update_node_path(@node.handle), "data-remote" => true, :html => { :role => "form", "data-type" => "html", "data-method" => "put" } do |f|
  .panel.panel-default
    .panel-heading
      %h2
        = @node.name

        .btn-group.pull-right
          = link_to t("cancel"), node_path(@node.handle), :class => "btn btn-default"
          %input.btn.btn-default{ :type => "submit", :name => "submit", :value => t(".save") }

          - unless @node.allocated? or @node.admin?
            %input.btn.btn-default{ :type => "submit", :name => "submit", :value => t(".allocate") }

    .panel-body
      - if @node.allocated?
        .form-group
          = f.label :target_platform, t('.target_platform')
          %span.form-control{ :disabled => "disabled" }
            = @node.pretty_target_platform

        - if crowbar_service.require_license_key? @node.target_platform
          .form-group
            = f.label :license_key, t('.license_key')
            %span.form-control{ :disabled => "disabled" }
              = @node.license_key
      - else
        .form-group
          = f.label :target_platform, t('.target_platform')
          = select_tag :target_platform, platforms_for_select(@node.target_platform), :class => "form-control", "data-showit" => [crowbar_service.require_license_platforms.join(","), crowbar_service.support_software_raid.join(",")].join(";"), "data-showit-target" => "#license_key_container;#raid_type,#raid_disks"

        .form-group
          #license_key_container
            = f.label :license_key, t('.license_key')
            = password_field_tag :license_key, @node.license_key, :class => "form-control"

      - if crowbar_options[:show].include? :bios
        .form-group
          = f.label :bios, t('.bios')
          - if @node.admin?
            %span.form-control
              = t('na')
          - else
            = select_tag :bios, options_for_select(crowbar_options[:bios], @node.bios_set), :class => "form-control"

      - if crowbar_options[:show].include? :raid
        .form-group
          = f.label :raid, t('.raid')
          - if @node.admin?
            %span.form-control
              = t('na')
          - else
            = select_tag :raid, options_for_select(crowbar_options[:raid], @node.raid_set), :class => "form-control"
      - else
        - if crowbar_service.support_software_raid.include?(@node.target_platform) or not @node.allocated?
          .form-group
            = f.label :raid_type, t('.raid_type')
            - if @node.admin?
              %span.form-control
                = t('na')
            - else
              = select_tag :raid_type, raids_for_select(@node.raid_type), :class => "form-control", :disabled => @node.allocated?, "data-disabler" => "single", "data-disabler-target" => "#raid_disks"

          - if @node.raid_type != "single" or not @node.allocated?
            .form-group
              = f.label :raid_disks, t('.raid_disks')
              - if @node.admin?
                %span.form-control
                  = t('na')
              - else
                = select_tag :raid_disks, drives_for_select(@node.raid_disks), :class => "form-control", :disabled => @node.allocated?, :multiple => true, :size => 5

      .form-group
        = f.label :alias, t('.alias')
        = text_field_tag :alias, @node.alias(true), :class => "form-control"

      .form-group
        = f.label :public_name, t('.public_name')
        = text_field_tag :public_name, @node.public_name(true), :class => "form-control"

        %span.help-block
          = t('.public_name_hint')

      .form-group
        = f.label :description, t('.description')
        = text_field_tag :description, @node.description(true), :class => "form-control"

      - if @node.display_set? 'group'
        .form-group
          = f.label :group, t('.group')
          = text_field_tag :group, @node.group, :class => "form-control"
      - else
        .form-group
          = f.label :group, t('.group')
          %p.form-control-static
            = t('.default', :group => content_tag(:strong, @node.group)).html_safe

        .form-group
          = f.label :group, t('.override')
          = text_field_tag :group, "", :class => "form-control", :placeholder => @node.group(true)

      .form-group
        = f.label :intended_role, t('.intended_role')
        = select_tag :intended_role, roles_for_select(@node.intended_role), :class => "form-control"

        %span.help-block
          = t('.intended_role_hint')

      .form-group
      = f.label :disk_roles, t('.disk_roles')

      %table.table.table-middle
        %thead
          %tr
            %th.col-sm-2
              = t(".disk_short")
            %th.col-sm-3
              = t(".disk_unique")
            %th.col-sm-2
              = t(".disk_role")
        %tbody
          - all_disks = all_disks_info
          - (@node.crowbar_wall["claimed_disks"] || {}).each do |unique_name, disk|
            %tr
              %td
                = all_disks.fetch(unique_name, "-")
              %td
                = unique_name
              %td
                %span.form-control{ :disabled => "disabled" }
                  = beautify_disk_owner(disk["owner"])

          - @node.disk_roles(true).each do |unique_name, disk_role|
            %tr
              %td
                = all_disks.fetch(unique_name, "-")
              %td
                = unique_name
              %td
                = select_tag "disk_roles[#{unique_name}]", disk_roles_for_select(disk_role), :class => "form-control"

      - if have_openstack
        .form-group
          = f.label :availability_zone, t('.availability_zone')
          = text_field_tag :availability_zone, @node.availability_zone, :class => "form-control"

          %span.help-block
            = t('.availability_zone_hint')

    .panel-footer.text-right
      .btn-group
        = link_to t("cancel"), node_path(@node.handle), :class => "btn btn-default"
        %input.btn.btn-default{ :type => "submit", :name => "submit", :value => t(".save") }

        - unless @node.allocated? or @node.admin?
          %input.btn.btn-default{ :type => "submit", :name => "submit", :value => t(".allocate") }
