%table.data.box
  %thead
    %tr
      %th
      %th= t '.name'
      %th= t '.alias'
      %th= t '.status'
      %th= t '.admin'
      %th= t '.description'
      %th= t '.deployment'
  %tbody
    -nodes.each do |n|
      - s = n.state
      - led = NodeRole::STATES[s]
      - if !n.available
        - led = (n.alive ? 'reserved' : 'idle')
      - elsif !n.alive
        - led = 'off'
      %tr
        %td{ :width=>'10px'}
          .led{:class => led, :title=>t(".#{led}")}
        %td= link_to n.name, node_path(n.id)
        %td= n.alias
        %td
          = t (n.alive ? ".alive" : ".dead")
          = t (n.available ? ".available" : ".reserved")
          = NodeRole.state_name(s)
        %td
          = t 'yes' if n.admin
        %td= n.description
        %td= link_to n.deployment.name, deployment_path(n.deployment.id), :title=>n.deployment.description
