.panel.panel-default
  .panel-heading
    %h2
      %span.led{ :class => @node.status, :title => t(@node.state, :scope => "state", :default => @node.state.titlecase), "data-node" => @node.handle }

      %a{ :href => node_path(@node.handle), :title => @node.description }
        = @node.alias

      .btn-group.pull-right
        = link_to t("edit"), edit_node_path(@node.handle), :class => "btn btn-default"

  %table.table.table-hover.table-attributes
    %tbody
      = render :partial => "show_details"
      = render :partial => "show_wall"
      = render :partial => "show_ips"
      = render :partial => "show_links"
      = render :partial => "show_barclamps"
      = render :partial => "show_roles"

  - if @node.bmc_set? or not @node.admin?
    .panel-footer
      .btn-group.pull-right
        = render :partial => "buttons_power"

      .btn-group
        = render :partial => "buttons_chef"

= render "node_groups"
