%h1= t '.title'

%ul
  - @list.each do |i|
    %li
      = link_to i.name, node_path(i.id)
      = ": #{i.description}"
      - if i.admin
        = "(admin)"
      %ul
        - i.node_roles do |r|
          %li
            = "#{r.name}: #{r.description}" 
