.row{ "data-ledupdate" => nodes_status_path, "data-ledredirect" => dashboard_path, "data-ledignore" => "proposals" }
  .col-xs-12
    %h1.page-header
      = t(".title")

      .badge{ :title => t(".extended_nodes", :count => @nodes.count) }
        = t(".simple_nodes", :count => @nodes.count)

      .col-xs-3.pull-right
        %form.form-inline{ :role => "form", "data-group-add" => "true" }
          .input-group
            = text_field_tag :group, "", :placeholder => t(".default_new"), :class => "form-control input-sm"

            .input-group-btn
              = submit_tag t(".add"), :class => "btn btn-default input-sm"

%script#group-invalid{ :type => "text/x-handlebars-template" }
  .alert.alert-danger.alert-dismissable.group-invalid
    %button.close{ :type => "button", "data-dismiss" => "alert", "aria-hidden" => true }
      &times;

    = t(".add_group_error")

= render "node_groups"
