- # filter to only show unallocated nodes, with an option to display all
- form_for :node, :'data-remote' => true, :url => '/nodes/list', :html => { :'data-type' => 'html',  :id => 'update_nodes_list', :class => "formtastic" } do |f|
  %table.data.box
    %thead
      %tr
        %th= t('.name')
        %th= t('.description')
        %th= t('.usage')
        %th= t('.bios')
        %th= t('.raid')
        %th.center Allocate?
    %tbody
      - @nodes.each do |node|
        %tr.node{ :class => cycle(:odd, :even, :name => "nodes"), :id => node.shortname }
          %td= node.name
          %td= text_field_tag "node:#{node.name}:description".to_sym, "#{node.description}"
          %td= select_tag "node:#{node.name}:usage".to_sym, options_for_select(CrowbarService.get_usage_options() || [['Swift','swift'], ['Nova','nova'], ['Glance','glance']], 'nova')
          %td= select_tag "node:#{node.name}:bios".to_sym, options_for_select(CrowbarService.get_bios_options() || [['Virtualization','Virtualization'], ['Storage','Storage']], 'Virtualization')
          %td= select_tag "node:#{node.name}:raid".to_sym, options_for_select(CrowbarService.get_raid_options() || [['JBOD Only','JBODOnly'], ['Single RAID 10','SingleRaid10']], 'SingleRaid10')
          -unless node.allocated
            %td.center= check_box_tag("node:#{node.name}:allocate".to_sym, 'checked')
          -else
            %td.center= "-"
    %tfoot
      %tr{ :class => cycle(:odd, :even, :name => "nodes")}
        %td.action{:colspan => 6}
          - if RAILS_ENV == "development"
            %input.button{:type => "submit", :name => "submit", :value => 'Save'}
