%h1= t '.title'

#layercake
  .column_25.first
    #jigs.orange
      = t '.jigs'
    #core.orange
      = t '.core'
  .column_66.last
    #apps.green.on
      = t '.apps'
    #services.green.off
      = t '.services'
    #clients.red.on
      = t '.clients'
    #os.red.off
      = t '.os'
    #nodes.blue.on
      = t '.nodes'
    #network.blue.off
      = t '.network'


.clear

