#layercake

  %h1.title= t '.title'

  .column_25.first
    #core.orange
      = render :partial=>'layercake', :locals=>{ :layer=>'core' }
    #jigs.orange
      = render :partial=>'layercake', :locals=>{ :layer=>'jigs' }

  .column_75.last

    #apps.dark_green
      = render :partial=>'layercake', :locals=>{ :layer=>'apps' }
    #services.dark_green
      = render :partial=>'layercake', :locals=>{ :layer=>'services' }
    #clients.yellow
      = render :partial=>'layercake', :locals=>{ :layer=>'clients' }
    #os.pink
      = render :partial=>'layercake', :locals=>{ :layer=>'os' }
    #nodes.blue
      = render :partial=>'layercake', :locals=>{ :layer=>'nodes' }
    #network.dark_blue
      = render :partial=>'layercake', :locals=>{ :layer=>'network' }

.clear


:javascript

  function update() {
    $.ajaxSetup({ timeout: 1000 });
    location.reload();
  }
